.importantText {
  color: var(--color-primary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
}

.balancePositive {
  color: var(--color-success);
}

.balanceNegative {
  color: var(--color-error);
}